In [28]:
# import necessary libraries
import pandas as pd
import re
from airportsdata import load
import glob

In [29]:
PATH = "../data/data_parquet"

In [30]:
# list of continents
continents = ["europe", "asia", "america"]

# load and concatenate data from different continents
europe = pd.concat([pd.read_parquet(f) for f in glob.glob(f"{PATH}/europe/*.parquet")], ignore_index=True)
asia = pd.concat([pd.read_parquet(f) for f in glob.glob(f"{PATH}/asia/*.parquet")], ignore_index=True)
america = pd.concat([pd.read_parquet(f) for f in glob.glob(f"{PATH}/america/*.parquet")], ignore_index=True)

data = pd.concat([europe, asia, america])

In [31]:
europe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1108949 entries, 0 to 1108948
Data columns (total 10 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   id                 1108949 non-null  int64
 1   creation_time      1108949 non-null  object
 2   airline_code       1108949 non-null  object
 3   flight_number      1108949 non-null  int64
 4   flight_date        1108949 non-null  int64
 5   departure_airport  1108949 non-null  object
 6   user_name          1108949 non-null  object
 7   action_name        1108949 non-null  object
 8   header_line        1108949 non-null  object
 9   entry_details      1095973 non-null  object
dtypes: int64(3), object(7)
memory usage: 84.6+ MB

In [32]:
asia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709595 entries, 0 to 709594
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 709595 non-null  int64
 1   creation_time      709595 non-null  object
 2   airline_code       709595 non-null  object
 3   flight_number      709595 non-null  int64
 4   flight_date        709595 non-null  int64
 5   departure_airport  709595 non-null  object
 6   user_name          709595 non-null  object
 7   action_name        709595 non-null  object
 8   header_line        709595 non-null  object
 9   entry_details      694543 non-null  object
dtypes: int64(3), object(7)
memory usage: 54.1+ MB

In [33]:
america.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429755 entries, 0 to 429754
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 429755 non-null  int64
 1   creation_time      429755 non-null  object
 2   airline_code       429755 non-null  object
 3   flight_number      429755 non-null  int64
 4   flight_date        429755 non-null  int64
 5   departure_airport  429755 non-null  object
 6   user_name          429755 non-null  object
 7   action_name        429755 non-null  object
 8   header_line        429755 non-null  object
 9   entry_details      384641 non-null  object
dtypes: int64(3), object(7)
memory usage: 32.8+ MB

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2248299 entries, 0 to 429754
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   id                 int64
 1   creation_time      object
 2   airline_code       object
 3   flight_number      int64
 4   flight_date        int64
 5   departure_airport  object
 6   user_name          object
 7   action_name        object
 8   header_line        object
 9   entry_details      object
dtypes: int64(3), object(7)
memory usage: 188.7+ MB

In [35]:
data

,id,creation_time,airline_code,flight_number,flight_date,departure_airport,user_name,action_name,header_line,entry_details
0,138625614,2024-05-07 05:52:54,MN,1061,8,DUB,service-acco,StorePaxDataAction,"2024-05-07 05:52:54,127 INFO [ea380e340254f09...",TOTAL Pax: 136 Y: 115 J: 21 Jump: 0 St...
1,138625648,2024-05-07 05:52:58,MN,1119,8,DUB,service-acco,StorePaxDataAction,"2024-05-07 05:52:58,084 INFO [c426c6873162f9f...",com.systemone.lc2.paxactuals.dto.PaxDataDTO [ ...
2,138625651,2024-05-07 05:52:58,MN,1119,8,DUB,service-acco,StorePaxDataAction,"2024-05-07 05:52:58,087 INFO [c426c6873162f9f...",TOTAL Pax: 139 Y: 130 J: 9 Jump: 0 Sta...
3,138625654,2024-05-07 05:53:02,MN,1162,8,DUB,service-acco,StorePaxDataAction,"2024-05-07 05:53:02,194 INFO [22be48812e5c854...",com.systemone.lc2.paxactuals.dto.PaxDataDTO [ ...
4,138625657,2024-05-07 05:53:02,MN,1162,8,DUB,service-acco,StorePaxDataAction,"2024-05-07 05:53:02,195 INFO [22be48812e5c854...",TOTAL Pax: 101 Y: 101 J: 0 Jump: 0 Sta...
...,...,...,...,...,...,...,...,...,...,...
429750,375550590,2024-05-06 19:33:39,ZY,3783,6,VCP,service-acco,UpdateFlightAction,"2024-05-06 19:33:39,082 INFO [4427e686a061647...",Airline: ZY Flightnumber: 3783 Suf...
429751,375550593,2024-05-06 19:33:39,ZY,3783,6,VCP,service-acco,UpdateFlightAction,"2024-05-06 19:33:39,086 INFO [4427e686a061647...",Airline: ZY Flightnumber: 3783 Suf...
429752,375550600,2024-05-06 19:33:39,ZY,3783,6,VCP,service-acco,UpdateFlightAction,"2024-05-06 19:33:39,908 INFO [7b95ce90c6fd77e...",Airline: ZY Flightnumber: 3783 Suf...
429753,375550607,2024-05-06 19:33:39,ZY,3783,6,VCP,service-acco,UpdateFlightAction,"2024-05-06 19:33:39,918 INFO [7b95ce90c6fd77e...",Airline: ZY Flightnumber: 3783 Suf...
429754,375550619,2024-05-06 19:32:25,ZY,2213,29,REC,service-acco,UpdateFlightAction,"2024-05-06 19:32:25,134 INFO [f63074617969ba2...",Airline: ZY Flightnumber: 2213 Suf...

In [36]:
# convert 'creation_time' to datetime and correct the format
data['creation_time'] = pd.to_datetime(data['creation_time'], errors='coerce')
''
# format date and insert next to 'creation_time'
data.insert(data.columns.get_loc('creation_time') + 1, 'formatted_creation_time', data['creation_time'].dt.strftime('%d-%m-%Y %H:%M:%S'))

In [37]:
data['flight_id'] = data["airline_code"].astype(str) + "-" + data['flight_number'].astype(str) + "-" + data['creation_time'].dt.year.astype(str) + "-" + data["flight_date"].astype(str) + "-" + data['creation_time'].dt.month.astype(str) + "-"+ data["departure_airport"]

In [38]:
DROP_COLUMNS = ["flight_date", "id"]
data = data.drop(columns=DROP_COLUMNS)

In [39]:
# get airport information from airportsdata
airport_data = load('IATA')

# dictionary with missing airport information
missing_airports = {
    'EEA': {'city': 'Manatí', 'country': 'Colombia', 'lat': 10.2572, 'lon': -74.8027},
    'SMT': {'city': 'Sorriso', 'country': 'Brazil', 'lat': -12.4792, 'lon': -55.6725},
    'JJG': {'city': 'Jaguaruna', 'country': 'Brazil', 'lat': -28.6753, 'lon': -49.0594},
    'SSV': {'city': 'São Vicente', 'country': 'Cape Verde', 'lat': 16.8333, 'lon': -24.9500},
    'LHN': {'city': 'Limon', 'country': 'Costa Rica', 'lat': 9.9570, 'lon': -83.0220},
    'ARX': {'city': 'Aracati', 'country': 'Brazil', 'lat': -4.5678, 'lon': -37.7708}
}

# function to get city, country, lat, and lon from airport code using airportsdata or the missing_airports dictionary
def get_airport_info(airport_code):
    if airport_code in airport_data:
        airport_info = airport_data[airport_code]
        return airport_info['city'], airport_info['country'], round(airport_info['lat'], 5), round(airport_info['lon'], 5)
    elif airport_code in missing_airports:
        airport_info = missing_airports[airport_code]
        return airport_info['city'], airport_info['country'], round(airport_info['lat'], 5), round(airport_info['lon'], 5)
    else:
        return None, None, None, None

# apply the function to the departure_airport column
data['departure_city'], data['departure_country'], data['departure_lat'], data['departure_lon'] = zip(*data['departure_airport'].apply(get_airport_info))

# insert after departure_airport
data.insert(data.columns.get_loc('departure_airport') + 1, 'departure_city', data.pop('departure_city'))
data.insert(data.columns.get_loc('departure_airport') + 2, 'departure_country', data.pop('departure_country'))
data.insert(data.columns.get_loc('departure_airport') + 3, 'departure_lat', data.pop('departure_lat'))
data.insert(data.columns.get_loc('departure_airport') + 4, 'departure_lon', data.pop('departure_lon'))

# check for airports that were not recognized again
unrecognized_airports = data[data['departure_city'].isnull()]

# display the unrecognized airports
unrecognized_airports = unrecognized_airports[['departure_airport']].drop_duplicates()
print("Unrecognized Departure Airports:")
print(unrecognized_airports)

Unrecognized Departure Airports:
Empty DataFrame
Columns: [departure_airport]
Index: []

In [40]:
# extract information from the header_line column
stepIDs = []
action_modes = []
log_levels = []
header_lines = data["header_line"].values

for header in header_lines:
    # extract stepID
    match = re.search(r"\[(.*?)\]", header)
    if match:
        stepID = match.group(1)
        stepIDs.append(stepID)
    else:
        stepIDs.append(None)
    
    # determine action_mode
    if "Received" in header:
        action_modes.append("Received")
    elif "Saved" in header:
        action_modes.append("Saved")
    elif "Sent" in header:
        action_modes.append("Sent")
    else:
        action_modes.append(None)
    
    # extract log level
    log_level_match = re.search(r'INFO|DEBUG|ERROR|WARNING', header)
    log_levels.append(log_level_match.group(0) if log_level_match else None)
    
    # extract flight information
    flight_info_match = re.search(r'\[(.*?)\]', header)
    flight_info = flight_info_match.group(1) if flight_info_match else None

data["stepID"] = stepIDs
data["action_mode"] = action_modes

# insert after header_line
data.insert(data.columns.get_loc('header_line') + 1, 'stepID', data.pop('stepID'))
data.insert(data.columns.get_loc('header_line') + 2, 'action_mode', data.pop('action_mode'))

# add the extracted information to the dataframe
data['log_level'] = log_levels

# insert additional columns after header_line
data.insert(data.columns.get_loc('header_line') + 3, 'log_level', data.pop('log_level'))

In [41]:
#data = data[~((data["action_mode"] == "Received") & (data["action_name"] == "CreateZFWMessageAction"))]

In [42]:
# function to extract the arrival_airport value
def extract_arrival_airport(entry_details):
    # regex pattern to find the arrivalStation tag and extract its value
    pattern = r'<arrivalStation>(.*?)</arrivalStation>'
    match = re.search(pattern, entry_details)
    if match:
        return match.group(1)
    return None

# extract 'arrival_airport' only for 'CreateZFWMessageAction' and 'Sent'
data['arrival_airport'] = data.apply(lambda row: extract_arrival_airport(row['entry_details']) if (row['action_name'] == 'CreateZFWMessageAction' and row['action_mode'] == 'Sent') else None, axis=1)

# create a dictionary to store the mappings
arrival_airport_dict = {}

# fill the dictionary with mappings of 'flight_number' and 'departure_airport' to 'arrival_airport'
for idx, row in data.iterrows():
    if pd.notna(row['arrival_airport']):
        key = (row['flight_number'], row['departure_airport'])
        arrival_airport_dict[key] = row['arrival_airport']

# apply the mappings from the dictionary to the dataframe
def get_arrival_airport(row):
    key = (row['flight_number'], row['departure_airport'])
    return arrival_airport_dict.get(key, None)

data['arrival_airport'] = data.apply(get_arrival_airport, axis=1)

# check if the 'arrival_airport' values were correctly extracted
print(data[['flight_number', 'departure_airport', 'arrival_airport']].drop_duplicates())

# display the unique values of the 'arrival_airport' column
unique_arrival_airports = data['arrival_airport'].unique()
print("Unique values in 'arrival_airport':")
unique_arrival_airports

        flight_number departure_airport arrival_airport
0                1061               DUB             SFO
1                1119               DUB             IAD
3                1162               DUB             LHR
5                1166               DUB             LHR
7                1053               DUB             SEA
...               ...               ...             ...
255631           2630               VCP            None
257817           1001               POA            None
257827           1002               MII            None
258240           3595               VCP            None
258538            811               SOD            None

[2230 rows x 3 columns]
Unique values in 'arrival_airport':

array(['SFO', 'IAD', 'LHR', 'SEA', 'BER', 'MSP', 'LAX', 'JFK', 'YYZ',
       'CLE', 'EWR', 'PHL', 'ORD', 'BOS', 'BDL', 'MAN', 'TFS', 'ACE',
       'FRA', None, 'CDG', 'NCE', 'BHX', 'PSA', 'BCN', 'ZRH', 'MUC',
       'NAP', 'HAM', 'FCO', 'LIN', 'VCE', 'JTR', 'CTA', 'MXP', 'FAO',
       'DBV', 'LIS', 'BOD', 'AGP', 'PGF', 'NTE', 'LYS', 'AMS', 'PMI',
       'ALC', 'VIE', 'BRU', 'PRG', 'DUS', 'GVA', 'SCQ', 'BIO', 'EDI',
       'MAD', 'MRS', 'MCO', 'CFU', 'ATH', 'BOJ', 'VRN', 'SPU', 'OLB',
       'TLS', 'BUD', 'ADB', 'LPA', 'KGS', 'DUB', 'SNN', 'HER', 'DLM',
       'DEL', 'BOM', 'BLR', 'GOX', 'CCU', 'COK', 'HYD', 'SXR', 'GAU',
       'AMD', 'IXB', 'LKO', 'VNS', 'PNQ', 'MAA', 'BBI', 'DOH', 'GWL',
       'AYJ', 'IXA', 'IXZ', 'MAO', 'VCP', 'SSA', 'CNF', 'BEL', 'GRU',
       'THE', 'REC', 'CWB', 'GIG', 'POA', 'AJU', 'NAT', 'JDO', 'BVB',
       'MCZ', 'CGH', 'SDU', 'GYN', 'CGB', 'CAC', 'FEN', 'BSB', 'MOC',
       'CMG', 'VDC', 'FLN', 'PNZ', 'UDI', 'VIX', 'IGU', 'PFB', 'FOR',
       'BPS', 'JTC', 'LDB', 'IPN', 'JOI', 'UBA', 'MGF', 'SJP', 'CAW',
       'ARU', 'IZA', 'JPA', 'PPB', 'URG', 'CKS', 'LEC', 'BYO', 'STM',
       'OAL', 'SJL', 'EEA', 'CGR', 'SLZ', 'IOS', 'MCP', 'MII', 'FLL',
       'MAB', 'BVH', 'OPS', 'NVT', 'RAO', 'PET', 'XAP', 'CPV', 'SMT',
       'PMG', 'JJG', 'AFL', 'CXJ', 'FEC', 'ROO', 'GPB', 'AAX', 'MVD',
       'IMP', 'GVR', 'PVH', 'PAV', 'PMW', 'ATM', 'ORY', 'CFB', 'BRA',
       'ITB', 'TFF', 'MDZ', 'GEL', 'JPR', 'PIN', 'CUR', 'RIA', 'TBT',
       'CLV', 'TJL', 'PDP', 'ERN', 'GNM', 'SSV', 'UNA', 'JJD', 'PHB'],
      dtype=object)

In [43]:
# function to get city, country, lat, and lon from airport code using airportsdata
def get_airport_info(airport_code):
    if airport_code in airport_data:
        airport_info = airport_data[airport_code]
        return airport_info['city'], airport_info['country'], round(airport_info['lat'], 5), round(airport_info['lon'], 5)
    else:
        return None, None, None, None

# apply the function to the arrival_airport column
data['arrival_city'], data['arrival_country'], data['arrival_lat'], data['arrival_lon'] = zip(*data['arrival_airport'].apply(get_airport_info))

# insert after arrival_airport
data.insert(data.columns.get_loc('arrival_airport') + 1, 'arrival_city', data.pop('arrival_city'))
data.insert(data.columns.get_loc('arrival_airport') + 2, 'arrival_country', data.pop('arrival_country'))
data.insert(data.columns.get_loc('arrival_airport') + 3, 'arrival_lat', data.pop('arrival_lat'))
data.insert(data.columns.get_loc('arrival_airport') + 4, 'arrival_lon', data.pop('arrival_lon'))

In [44]:
data.head()

,creation_time,formatted_creation_time,airline_code,flight_number,departure_airport,departure_city,departure_country,departure_lat,departure_lon,user_name,...,stepID,action_mode,log_level,entry_details,flight_id,arrival_airport,arrival_city,arrival_country,arrival_lat,arrival_lon
0,2024-05-07 05:52:54,07-05-2024 05:52:54,MN,1061,DUB,Dublin,IE,53.4213,-6.27007,service-acco,...,ea380e340254f093,Saved,INFO,TOTAL Pax: 136 Y: 115 J: 21 Jump: 0 St...,MN-1061-2024-8-5-DUB,SFO,San Francisco,US,37.61881,-122.37542
1,2024-05-07 05:52:58,07-05-2024 05:52:58,MN,1119,DUB,Dublin,IE,53.4213,-6.27007,service-acco,...,c426c6873162f9fd,Received,INFO,com.systemone.lc2.paxactuals.dto.PaxDataDTO [ ...,MN-1119-2024-8-5-DUB,IAD,Washington,US,38.90000,-77.50000
2,2024-05-07 05:52:58,07-05-2024 05:52:58,MN,1119,DUB,Dublin,IE,53.4213,-6.27007,service-acco,...,c426c6873162f9fd,Saved,INFO,TOTAL Pax: 139 Y: 130 J: 9 Jump: 0 Sta...,MN-1119-2024-8-5-DUB,IAD,Washington,US,38.90000,-77.50000
3,2024-05-07 05:53:02,07-05-2024 05:53:02,MN,1162,DUB,Dublin,IE,53.4213,-6.27007,service-acco,...,22be48812e5c8545,Received,INFO,com.systemone.lc2.paxactuals.dto.PaxDataDTO [ ...,MN-1162-2024-8-5-DUB,LHR,London,GB,51.47060,-0.46194
4,2024-05-07 05:53:02,07-05-2024 05:53:02,MN,1162,DUB,Dublin,IE,53.4213,-6.27007,service-acco,...,22be48812e5c8545,Saved,INFO,TOTAL Pax: 101 Y: 101 J: 0 Jump: 0 Sta...,MN-1162-2024-8-5-DUB,LHR,London,GB,51.47060,-0.46194

In [45]:
print(data.shape)
print("_________________________________________")
print(data.dtypes)

(2248299, 22)
_________________________________________
creation_time              datetime64[ns]
formatted_creation_time            object
airline_code                       object
flight_number                       int64
departure_airport                  object
departure_city                     object
departure_country                  object
departure_lat                     float64
departure_lon                     float64
user_name                          object
action_name                        object
header_line                        object
stepID                             object
action_mode                        object
log_level                          object
entry_details                      object
flight_id                          object
arrival_airport                    object
arrival_city                       object
arrival_country                    object
arrival_lat                       float64
arrival_lon                       float64
dtype: object

In [46]:
import os
if not os.path.exists("../data/data_parquet/combined"):
    os.makedirs("../data/data_parquet/combined")
for i, chunk in enumerate(range(0, data.shape[0], 500000)):
    chunk_df = data.iloc[chunk:chunk + 500000]
    chunk_df.to_parquet(f"{"../data/data_parquet/combined"}/chunk_{i + 1}.parquet")

In [47]:
data.to_parquet(f'{PATH}/processed_data_combined.parquet', index=False)

In [48]:
# anzeigen der eindeutigen action_names
unique_actions = data['action_name'].unique()
unique_actions

array(['StorePaxDataAction', 'TransferCheckinDataAction',
       'CrewMsgProcessor', 'PAXBOOKINGINMsgProcessor',
       'FlightPlanFiguresInMsgProcessor', 'EstimateStorePaxDataAction',
       'RampFinalAction', 'InternalCreateLoadingInstructionAct',
       'InternalCreateLoadsheetAction', 'ResetLoadingListRecordsAction',
       'GetCabinConfigurationsAction', 'ReopenLegAction',
       'FuelDataInitializer', 'StorePaxDataGuiAction',
       'StoreRegistrationAndConfigurationAc', 'StoreAircraftDataAction',
       'SpecialPaxWeightAction', 'SendFuelOrderAction',
       'SelectFuelOrderAction', 'SendPostDepartureMessagesAction',
       'TransferCargoAction', 'TdmCreateLoadingInstructionAction',
       'SendLoadsheetAction', 'SendLoadingInstructionAction',
       'UpdateCrewDataAction', 'UpdateCargoMailEstimatesAction',
       'UpdateEstimatesAction', 'UpdateLoadTableAction',
       'UpdateFlightAction', 'UpdateFuelDataAction',
       'UpdateHistoricalFlightLegInfoAction', 'UpdateLastEzfwSentAction',
       'UpdateSupplementaryInfoAction', 'CheckinMsgProcessor',
       'AssignLoadplanAction', 'AssignLCCAction', 'ASMMsgProcessor',
       'AutoLoadBulkAction', 'AutoLoadULDAction', 'CargoFinalActionTDM',
       'AssignUnassignViewAction', 'AutomaticNotificationAction',
       'CargoFinalAction', 'CalculateWeightAndTrimAction',
       'CreateLoadingInstructionAction', 'ChatConfirmMessageAction',
       'ChatSendMessageAction', 'CreateAndSendFuelOrderAction',
       'CreateBaggageLoadItemsAction', 'CreateLoadsheetAction',
       'ChangeFlightLegStateAction', 'CloseLegAction',
       'CreatePostDepartureMessagesAction',
       'CreateAndSendUldOrdMessageAction', 'ClearFlightsAction',
       'CreateZFWMessageAction', 'AcceptTransitDataAction',
       'AcceptTransitLoadAction', 'AcceptTransitNotocAction',
       'SetActualBagWeightIndicatorAction', 'StoreCKIAverageWeightAction',
       'UpdateTransitLoadTableAction', 'CopyPaxLoadDataAction',
       'CopyLoadItemsAction', 'CopyPaxDataAction', 'CopyCargoTableAction',
       'SetCKIPaxDistributionAction'], dtype=object)

In [49]:
#processed_data_path = f'{PATH}/processed_data_combined.parquet'

data1 = pd.concat([pd.read_parquet(f) for f in glob.glob(f"{PATH}/combined/*.parquet")], ignore_index=True)

filtered_data = data1[data1['action_name'] == 'CreateZFWMessageAction']

# count the number of rows
count = filtered_data.shape[0]

print(f"Number of rows with action 'CreateZFWMessageAction': {count}")

# filter the data for the action CreateZFWMessageAction
filtered_data = data1[data1['action_name'] == 'CreateZFWMessageAction']

# count the number of rows for each action_mode
counts = filtered_data['action_mode'].value_counts()

print("Number of rows for each action_mode in 'CreateZFWMessageAction':")
print(counts)

Number of rows with action 'CreateZFWMessageAction': 50677
Number of rows for each action_mode in 'CreateZFWMessageAction':
action_mode
Received    21176
Sent        21176
Saved        8325
Name: count, dtype: int64