In [1]:
import pandas as pd
import json
def load_config(path):
    with open(path, 'r') as file:
        return json.load(file)

config_path = '../pandas_config.json'
config = load_config(config_path)
parquet_config = config['parquet']

# Setting up the engine as a global constant
ENGINE = parquet_config['engine']
COMPRESSION = parquet_config['compression']
FILE_PATH = "../data/data_parquet"

In [2]:
df = pd.read_parquet(FILE_PATH + "/processed_data_combined.parquet", engine=ENGINE)

# Ratio: Actions performed by humans and service accounts

In [13]:
user_ratio = df["user_name"].value_counts(normalize=True).to_frame().to_csv("../data/visualization/user_ratio.csv")

# Airports with most departures

In [12]:
df_unique_flight_numbers = df.drop_duplicates(subset='flight_number')
count_of_departures_by_airport = df_unique_flight_numbers[["departure_airport", "departure_lat", "departure_lon"]].value_counts().to_frame().to_csv("../data/visualization/count_of_departures_by_airport.csv")

In [3]:
df

,id,creation_time,formatted_creation_time,airline_code,flight_date,departure_airport,departure_city,departure_country,departure_lat,departure_lon,user_name,action_name,stepID,action_mode,log_level,entry_details,flight_number
0,137524484,2024-04-30 04:01:47,30-04-2024 04:01:47,MN,30,DUB,Dublin,IE,53.42130,-6.27007,human,AssignLoadplanAction,a277234c22fa2e5d,Received,INFO,com.systemone.lc2.loadplan.dto.PositionAssignm...,a277234c22fa2e5d
1,137524940,2024-04-30 04:01:50,30-04-2024 04:01:50,MN,30,DUB,Dublin,IE,53.42130,-6.27007,human,AssignLoadplanAction,3b152cbdf5b057ed,Received,INFO,com.systemone.lc2.loadplan.dto.PositionAssignm...,3b152cbdf5b057ed
2,137524943,2024-04-30 04:01:50,30-04-2024 04:01:50,MN,30,DUB,Dublin,IE,53.42130,-6.27007,human,AssignLoadplanAction,3b152cbdf5b057ed,Saved,INFO,com.systemone.lc2.manualloadplanning.dto.LoadD...,3b152cbdf5b057ed
3,137524964,2024-04-30 04:05:32,30-04-2024 04:05:32,MN,30,DUB,Dublin,IE,53.42130,-6.27007,human,AssignLoadplanAction,52735a0dd84d57d0,Received,INFO,com.systemone.lc2.loadplan.dto.PositionAssignm...,52735a0dd84d57d0
4,137525021,2024-04-30 04:02:12,30-04-2024 04:02:12,MN,30,DUB,Dublin,IE,53.42130,-6.27007,human,AssignLoadplanAction,8d65801e1dbb10e7,Received,INFO,com.systemone.lc2.loadplan.dto.PositionAssignm...,8d65801e1dbb10e7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248294,375550590,2024-05-06 19:33:39,06-05-2024 19:33:39,ZY,6,VCP,Campinas,BR,-23.00740,-47.13450,service-acco,UpdateFlightAction,4427e686a0616479,Received,INFO,Airline: ZY Flightnumber: 3783 Suf...,4427e686a0616479
2248295,375550593,2024-05-06 19:33:39,06-05-2024 19:33:39,ZY,6,VCP,Campinas,BR,-23.00740,-47.13450,service-acco,UpdateFlightAction,4427e686a0616479,Saved,INFO,Airline: ZY Flightnumber: 3783 Suf...,4427e686a0616479
2248296,375550600,2024-05-06 19:33:39,06-05-2024 19:33:39,ZY,6,VCP,Campinas,BR,-23.00740,-47.13450,service-acco,UpdateFlightAction,7b95ce90c6fd77e8,Received,INFO,Airline: ZY Flightnumber: 3783 Suf...,7b95ce90c6fd77e8
2248297,375550607,2024-05-06 19:33:39,06-05-2024 19:33:39,ZY,6,VCP,Campinas,BR,-23.00740,-47.13450,service-acco,UpdateFlightAction,7b95ce90c6fd77e8,Saved,INFO,Airline: ZY Flightnumber: 3783 Suf...,7b95ce90c6fd77e8
2248298,375550619,2024-05-06 19:32:25,06-05-2024 19:32:25,ZY,29,REC,Recife,BR,-8.12649,-34.92360,service-acco,UpdateFlightAction,f63074617969ba2b,Saved,INFO,Airline: ZY Flightnumber: 2213 Suf...,f63074617969ba2b

# Top actions

In [9]:
top_actions = df["action_name"].value_counts().to_frame().reset_index()