# Process Mining for the visualization in Celonis

In [24]:
import pandas as pd
import re

### Concatenate the datasets

In [25]:
import pandas as pd

continents = ["europe", "asia", "america"]

# Load and concatenate data from different continents
europe = pd.read_parquet('../data/data_parquet/europe_data.parquet')
asia = pd.read_parquet('../data/data_parquet/asia_data.parquet')
america = pd.read_parquet('../data/data_parquet/america_data.parquet')

data = pd.concat([europe, asia, america])

### Convert the the time and add milliseconds

In [26]:
# convert 'creation_time' to datetime and correct the format
data['creation_time'] = pd.to_datetime(data['creation_time'], errors='coerce')

# format date and insert next to 'creation_time'
data.insert(data.columns.get_loc('creation_time') + 1, 'formatted_creation_time', data['creation_time'].dt.strftime('%d-%m-%Y %H:%M:%S.%f').str[:-3])

### Add new flight_id

In [27]:
data['flight_id'] = data["airline_code"].astype(str) + "-" + data['flight_number'].astype(str) + "-" + data['creation_time'].dt.year.astype(str) + "-" + data["flight_date"].astype(str) + "-" + data['creation_time'].dt.month.astype(str)

### Drop unnecessary columns

In [28]:
DROP_COLUMNS = ['entry_details', 'user_name', 'flight_date', 'departure_airport']
data = data.drop(columns=DROP_COLUMNS)

In [29]:
data.head()

,id,creation_time,formatted_creation_time,airline_code,flight_number,action_name,header_line,flight_id
0,137524484,2024-04-30 04:01:47,30-04-2024 04:01:47.000,MN,1262,AssignLoadplanAction,"2024-04-30 04:01:47,383 INFO [a277234c22fa2e5...",MN-1262-2024-30-4
1,137524940,2024-04-30 04:01:50,30-04-2024 04:01:50.000,MN,1262,AssignLoadplanAction,"2024-04-30 04:01:50,188 INFO [3b152cbdf5b057e...",MN-1262-2024-30-4
2,137524943,2024-04-30 04:01:50,30-04-2024 04:01:50.000,MN,1262,AssignLoadplanAction,"2024-04-30 04:01:50,193 INFO [3b152cbdf5b057e...",MN-1262-2024-30-4
3,137524964,2024-04-30 04:05:32,30-04-2024 04:05:32.000,MN,1630,AssignLoadplanAction,"2024-04-30 04:05:32,214 INFO [52735a0dd84d57d...",MN-1630-2024-30-4
4,137525021,2024-04-30 04:02:12,30-04-2024 04:02:12.000,MN,1202,AssignLoadplanAction,"2024-04-30 04:02:12,081 INFO [8d65801e1dbb10e...",MN-1202-2024-30-4

### Save the file

In [30]:
# Save the concatenated dataset to a new Parquet file
data.to_parquet('../process/data/data_parquet/combined_data.parquet')

# Save as CSV file
data.to_csv('../process/data/data_csv/combined_data.csv', index=False)

### Extract the timestamp from header_line

In [43]:
file_path = '../process/data/data_csv/combined_data.csv'
df = pd.read_csv(file_path)

def extract_time(time):
    match = re.search(r'\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2},\d{3}', time)
    if match:
        return match.group(0)
    return None

df['extracted_time'] = df['header_line'].apply(extract_time)

DROP2_COLUMNS = ['header_line', 'creation_time', 'formatted_creation_time']
df.drop(columns=DROP2_COLUMNS, inplace=True)
print(df.head())
df.to_csv('../process/data/data_final/final_data.csv', index=False)

          id airline_code  flight_number           action_name  \
0  137524484           MN           1262  AssignLoadplanAction
1  137524940           MN           1262  AssignLoadplanAction
2  137524943           MN           1262  AssignLoadplanAction
3  137524964           MN           1630  AssignLoadplanAction
4  137525021           MN           1202  AssignLoadplanAction

           flight_id           extracted_time
0  MN-1262-2024-30-4  2024-04-30 04:01:47,383
1  MN-1262-2024-30-4  2024-04-30 04:01:50,188
2  MN-1262-2024-30-4  2024-04-30 04:01:50,193
3  MN-1630-2024-30-4  2024-04-30 04:05:32,214
4  MN-1202-2024-30-4  2024-04-30 04:02:12,081